/* TODO optimizar para mobile (media queries para el font size, imagenes) */

#body{
    height: 80vh; 
}

.container{
    background-color: white;
    height: 50%;
    margin-bottom: 25%;
    width: 90vw;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}


.flex-item1{
    width: 50%;
    height: 100%;
    margin-left: 5%;
    display: flex;
}

.flex-item2{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}


#productImg {
    width: auto;
    max-height: 100%;
    background-size: cover;
    align-self: center;

}

#qtyInput{
    width: 4em;
    height: 2.7em;
    margin: 1em;
    border-radius: 0.3em;
    border: 2px solid #DD702C;
   
}

.flex-row{
    display: flex;
    align-items: center;
}

.title{
    font-size: 50px;
    color: #DD702C;
}

.subtitle{
    font-size: 18px;
}

.text{
    font-size: 20px;
}
   

